body{
    padding: 100px;
}

.submit-area
{
    margin-top: 50px;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 5px 5px 10px gray;
}

.status
{
    margin: 0 20px;
    color: white;
    padding: 20px;
    border-radius: 10px;
}

.deposit
{
    background-image: linear-gradient(burlywood,cadetblue);
}

.withdraw
{
    background-image: linear-gradient(darkgray,black);
}

.balance
{
    background-image: linear-gradient(cornsilk,dimgrey);
}

#transaction-area
{
    display: none;
}
